<style>
  #editor {
    width: 100%;
    box-sizing: border-box;
  }

  #editor-text {
    width: 100%;
    background-color: white;
    font-size: 1.1rem;
    margin: 0;
  }

  #editor-text textarea {
    width: 100%;
    height: 80vh;
    font-size: 1.1rem;
    border: none;
    padding: 0;
    margin: 0;
  }

  #dailynav {
    text-align: center;
  }

  #dailynav h1 {
    display: inline;
    margin: 0;
  }
  
  .save-status {
    margin-left: 10px;
    font-size: 0.9rem;
    font-style: italic;
    color: #666;
  }
</style>

<nav id="dailynav">
  <a href="/day/<%= yesterday %>">◀</a>
  <h1>
    <%= page.date %>
  </h1>
  <a href="/day/<%= tomorrow %>">▶</a>
</nav>

<div id="container">
  <div id="editor" data-controller="editor">
    <%= form_with model: page, data: { editor_target: "form", turbo_stream: true } do |form| %>
      <%= form.hidden_field :date, value: page.date %>
      <nav>
        <%= form.submit 'Save' %>
        <span id="editor-status" data-editor-target="status" class="save-status"></span>
        <a id="append-time" data-action="editor#appendTime">現在時刻を追加</a>
      </nav>
      <div id="editor-text">
        <%# form.rich_text_area :content, value: page.content %>
        <%= form.text_area :content, value: page.content, "data-editor-target": "textarea" %>
      </div>
    <% end %>
  </div>

  <div id="analyzed">
    <h2>Analysis</h2>
    <%= form_with url: "/pages/#{page.id}/analyze", method: :post do %>
      <%= submit_tag 'analyze' %>
    <% end %>
    <pre><%= page.analyzed_content %></pre>
  </div>
</div>
