<style>
  .wst8 {
    color: gray;
  }

  .record {
    vertical-align: top;
  }

  .record td {
    padding: 5px;
  }
</style>

<div>
  <% if page.records.any? %>
    <% wake_time = page.wake_time %>
    <% wake_offset_minutes = wake_time ? (wake_time.hour * 60 + wake_time.min - 8 * 60) : 0 %>
    
    <div class="category_durations">
      <% page.category_durations_minutes.each do |category, duration| %>
        <span>
          <div class="legend-color" style="background-color: <%= @categories[category] %>;"></div>
          <%= category %>
          <span class="category">
            <%= "#{duration/60}h#{duration%60}m" %>
          </span>
        </span>
      <% end %>
    </div>

    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>WST8</th>
          <th>Duration</th>
          <th>What</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <% page.records.each do |record| %>
          <% end_or_now = if record.end_time.present?
                          record.end_time
                        elsif Date.today == record.page.date
                          Time.current
                        else
                          nil
                        end
           %>
          <tr class="record" style="height: <%= [1, 1 + (record.duration_minutes || 0 - 20) / 20.0].max %>rem; background-color: <%= hex_to_pastel(@categories[record.category]) %>;">
            <td><%= record.start_time&.strftime("%H:%M") %></td>
            <td><%= record.end_time&.strftime("%H:%M") %></td>
            <td class="wst8">
              <% if record.start_time %>
                <%
                  wst8_minutes = (record.start_time.hour * 60 + record.start_time.min - wake_offset_minutes + 24 * 60) % (24 * 60)
                %>
                <%= minutes_to_hm(wst8_minutes) %>
              <% else %>
                ?
              <% end %>
            </td>
            <td>
              <% if record.duration_minutes %>
                <%= minutes_to_hm(record.duration_minutes) %>
              <% else %>
                ?
              <% end %>
            </td>
            <td><%= record.what %></td>
            <td><%= record.category %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>