<style>
  #calendar {
    max-width: 600px;
    margin: 0 auto;
  }

  #calendar header {
    align-items: center;
    text-align: center;
  }

  #calendar h2 {
    display: inline;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }

  .calendar-day {
    padding: 5px;
    text-align: center;
  }

  .calendar-day a {
    display: block;
    padding: 5px;
    text-decoration: none;
  }

  .calendar-day a:hover {
    text-decoration: underline;
  }

  .calendar-day a.exists {
    color: rgb(38, 107, 181);
    font-weight: bold;
  }

  .calendar-day a.nonexist {
    color: #888;
  }
</style>
<div id="calendar">
  <header>
    <a href="<%= pages_month_path((@month - 1.month).strftime('%Y-%m')) %>">◀</a>
    <h2>
      <%= @month.strftime("%Y/%m") %>
    </h2>
    <a href="<%= pages_month_path((@month + 1.month).strftime('%Y-%m')) %>">▶</a>
  </header>
  <div class="calendar-grid">
    <% %w(Sun Mon Tue Wed Thu Fri Sat).each do |day_name| %>
      <div class="calendar-day"><strong>
          <%= day_name %>
        </strong></div>
      <% end %>
  </div>
  <div class="calendar-grid">
    <% first_day_wday = @month.wday %>
    <% first_day_wday.downto(1) do |k| %>
      <div class="calendar-day"></div>
    <% end %>
    <% (1..Time.days_in_month(@month.month, @month.year)).each do |day| %>
        <% date=Date.new(@month.year, @month.month, day) %>
          <% page=@pages.find { |p| p.date==date } %>
            <div class="calendar-day">
              <a href="/day/<%= date.strftime('%Y%m%d') %>" class="<%= page ? 'exists' : 'nonexist' %>">
                <%= day %>
              </a>
            </div>
            <% end %>
  </div>
</div>